/* !GENERAL */

::-webkit-scrollbar {
    display: none;
}
body{
    height: 100%;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

/* !HEADER */

header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.headerResources{
    background-color:  #c186de;
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;

}
.headerResources img {
    margin: auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #9559c1;

}

nav ul{
    padding: 0;  
}

nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    transition: ease .5s;
}

nav ul li a:hover{
    transition: ease .5s;
    color: red;
}

/* !MAIN */

main{
    width: 90%;
    height: auto;
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(247, 230, 249);
    padding-left: 30px;
}

.formContact {
    display: flex;
    flex-direction: row;
}

iframe{
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 30px;
}
span {
    color: red;
}
input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #8A8070;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
textarea {
    background-color: #FBFBFB;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #8A8070;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
label {
    text-align: left;
}
button {
    width: 420px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-transform: uppercase;
    background-color: #c186de;
    border-color: #c186de;
    border-style: solid;
    border-radius: 10px;
    color: white;
    transition: all .5s;
}
button:hover {
    transform: scale(1.04);
    cursor: pointer;
}
h1 {
    padding-bottom: 20px;
    font-size: 34px;
    text-align: left;
    color: #c186de ;
}
.labelMessage {
    margin-bottom: 10px;
}
form input:focus {
    outline: 0;
    border: 1px solid #9559c1;
}
form textarea:focus {
    outline: 0;
    border: 1px solid #9559c1;
}

/* !FOOTER */

footer {
    height: 100px;
    max-height: 100px;
    background-color: #9559c1;
    padding-top: 10px;
}

footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;  
    margin-top: 10px; 
    transition: ease .5s;
}

footer a:hover{
    transition: ease .5s;
    color: red;
}

footer address{
    float: right;
    color: white;
    margin-right: 20px;
}

footer p{
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
}