/* !GENERAL */

::-webkit-scrollbar {
    display: none;
}
body{
    height: 100%;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

/* !HEADER */

header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.headerResources{
    background-color:  #c186de;
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;

}
.headerResources img {
    margin: auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #9559c1;

}

nav ul{
    padding: 0;  
}

nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    transition: ease .5s;
}

nav ul li a:hover{
    transition: ease .5s;
    color:red;
}

/* !MAIN */

main{
    background-color: white;
    width: 100%;
    align-items: center;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

section:first-child{
    display: flex;
    flex-direction: row;
}

.primeraVista{
    margin-left: 150px;
}

.textInfPrincipal img{
    width: 150px;
    margin-bottom: 30px;
}

.textInfPrincipal b{
    border: 1.5px;
    padding: 3px;
    margin-left: 5px;
    border-style: solid;
    font-size: 13px;
}

.inputPrice{
    margin-top: 25px;
    padding: 15px;
    width: 250px;
    accent-color: #9559c1;
}

.inputPrice input {
    width: 20px;
    height: 20px;
}

.inputPrice label {
    display: inline-table;
    width: 200px;
    height: 35px;
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 5px;
    margin-left: 5px;
    transition: ease .10s;
}

input[type=radio]:checked + label{
    background-color:  #f2defc;
    transition: ease .8s;
}

.primeraVista{
    width: 40%;
}

.caracteristicasGame h3{
    margin-top: 35x px;
}

.imgInfPrincipal{
    width: 60%;
    float: right;
    margin-top: 20px;
    margin-left: 150px;
}

.imgInfPrincipal img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 1000px;
}


.informacionPrincipal:first-child, h1{
    font-size: 45px;
    font-weight: normal;
}

.descGame{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
}

.descGame img{
    width: 100%;
    margin-top: 60px;
}   

.descGame p{
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-20%, -50%);
    font-size: 22px;
    color: white;
    text-align: justify;
}

.gameVideos{
    display: flex;
    flex-direction: column;
}

.gameVideos h1{
    font-size: 32px;
    font-weight:bolder;
    text-align: center;
    transition: ease .3s;
}

.gameVideos h1:hover{
    font-size: 32px;
    font-weight:bolder;
    text-align: center;
    color: #9559c1;
    transition: ease .3s;
}

.gameVideos iframe{
    border-radius: 10px;
    width: 700px;
    height: 400px;
    transition: ease .3s;
}

.gameVideos iframe:hover{
    transform: scale(1.01);
    transition: ease .3s;
}

.firstVideos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstVideos div {
    width: 695px;
    text-align: justify;
}

.firstVideos h2{
    margin-left: 10px;
    margin-right: 10px;
}

.firstVideos p{
    margin-left: 10px;
    margin-right: 10px;
}

.secondVideos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secondVideos div {
    width: 695px;
    text-align: justify;
}

.secondVideos h2{
    margin-left: 10px;
    margin-right: 10px;
}

.secondVideos p{
    margin-left: 10px;
    margin-right: 10px;
}
/* !FOOTER */

footer {
    height: 100px;
    max-height: 100px;
    background-color: #9559c1;
    padding-top: 10px;
}

footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;  
    margin-top: 10px; 
    transition: ease .5s;
}

footer a:hover{
    transition: ease .5s;
    color: red;
}

footer address{
    float: right;
    color: white;
    margin-right: 20px;
}

footer p{
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
}
