/* !GENERAL */

::-webkit-scrollbar {
    display: none;
}
body{
    height: 100%;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

/* !HEADER */

header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.headerResources{
    background-color:  #c186de;
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;

}
.headerResources img {
    margin: auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #9559c1;

}

nav ul{
    padding: 0;  
}

nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    transition: ease .5s;
}

nav ul li a:hover{
    transition: ease .5s;
    color: RED;
}

/* Main content */

.listadoVideojuegos ul li {
    padding-top: 2px;
    padding-left: 15px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 10px;
}
.listadoImg img {
    border-radius: 5px;
    transition: all .2s;
}
.listadoImg img:hover {
    filter: brightness(1.1);
}

.listadoVideojuegos ul li h3 b a {
    text-decoration: none;
    color: black;
}

/* Animacion Underline */

h3 b {
    position: relative;
    color: #000;
    text-decoration: none;
    transition: color .2s;;
}
  
h3 b:hover {
    cursor: default;
    color: #9559c1;
}

h3 b::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9559c1;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

h3 b:hover::before {
transform: scaleX(1);
}

.listadoImg {
    display: flex;
    flex: row;
    margin-bottom: 5px;
}
.listadoDesc {
    margin-left: 10px;
    padding-bottom: 10px;
}

/* Lista de paginacion */

.paginacion {
    text-align: center;
}
.paginacion ul {
    padding-top: 15px;
    padding-bottom: 15px;
	list-style: none;
	text-align: center;
    border-radius: 10px;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	background: #9559c1;
	text-decoration: none;
    border-radius: 10px;
}

.paginacion ul li a:hover {
	background: #c186de;
}

/* !FOOTER */

footer {
    height: 100px;
    max-height: 100px;
    background-color: #9559c1;
    padding-top: 10px;
}

footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;  
    margin-top: 10px; 
    transition: ease .5s;
}

footer a:hover{
    transition: ease .5s;
    color: red;
}

footer address{
    float: right;
    color: white;
    margin-right: 20px;
}

footer p{
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
}