/* !GENERAL */

::-webkit-scrollbar {
    display: none;
}
body{
    height: 100%;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

/* !HEADER */

header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.headerResources{
    background-color:  #c186de;
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;

}
.headerResources img {
    margin: auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #9559c1;

}

nav ul{
    padding: 0;  
}

nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    transition: ease .5s;
}

nav ul li a:hover{
    transition: ease .5s;
    color: RED;
}

/* !MAIN */
/*?VideogamesSection*/

.videogames h2{
    padding-top: 30px;
    margin-left: 65px;
}

/* ?First Videogame Section */

.firstRowVideogames{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}

.firstRowVideogames div {
    width: 520px;
    border-radius: 10px;
    border: dashed #9559c1;
    border-width: 2px;
}

.firstRowVideogames div img{
    border-radius: 10px;
    margin-bottom: 10px;
}

.firstRowVideogames div p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.firstRowVideogames div a{
    font-size: 18px;
    transition: ease .2s;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-weight: bold;
    transition: ease .3s;
    text-decoration: none;
    color: black;
}

.firstRowVideogames div a:hover{
    color: #9559c1;
    cursor: pointer;
    transition: ease .3s;
}

.firstRowVideogames button {
    float: right;
    height: 30px;
    background-color: #9559c1;
    border-radius: 5px;
    border-style: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 8px;
    transition: ease .4s;
    width: 90px;
}

.firstRowVideogames button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.firstRowVideogames button a{
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.firstRowVideogames button a:hover{
    text-decoration: none;
    color: white
}

/* ?Second Videogame Section */

.secondRowVideogames{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}

.secondRowVideogames div {
    width: 520px;
    border-radius: 10px;
    border: dashed #9559c1;
    border-width: 2px;
}

.secondRowVideogames div img{
    border-radius: 10px;
    margin-bottom: 10px;
}

.secondRowVideogames div p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.secondRowVideogames div a{
    font-size: 18px;
    transition: ease .2s;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-weight: bold;
    transition: ease .3s;
    text-decoration: none;
    color: black;
}

.secondRowVideogames div a:hover{
    color: #9559c1;
    cursor: pointer;
    transition: ease .3s;
}

.secondRowVideogames button {
    float: right;
    height: 30px;
    background-color: #9559c1;
    border-radius: 5px;
    border-style: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 8px;
    transition: ease .4s;
    width: 90px;
}

.secondRowVideogames button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.secondRowVideogames button a{
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.secondRowVideogames button a:hover{
    text-decoration: none;
    color: white
}

/* ?CheatsAndNews */

.cheatsAndNews{
    height: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

/* ?Cheats */

.cheatsAndNews aside{
    background-color: #ddaff4;
    width: 20%;
    height: 100%;
    margin-right: 20px;
    border-radius: 10px;
    border: dashed #9559c1;
}
.cheatsAndNews aside h2, h4{
    text-align: center;
}

/* ?News */

.cheatsAndNews section{
    width: 80%;
    height: 100%;
    text-align: center;
}

.cheatsAndNews section div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cheatsAndNews section article{
    width: 600px;
    height: 520px;
    text-align: center;
    border-radius: 10px;
    border: dashed #9559c1;
    margin-top: 20px;
    overflow: hidden;
}

.cheatsAndNews section article p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px; 
}

.cheatsAndNews section article a{
    font-size: 19px;
    transition: ease .3s;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.cheatsAndNews section article a:hover{
    transition: ease .3s;
    color: #9559c1;
    cursor: pointer;
}

.cheatsAndNews section article button{
    float: right;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background-color: #9559c1;
    border-radius: 5px;
    border-style: none;
    transition: ease .4s;
    width: 90px;
}

.cheatsAndNews section article button:hover{
    transform: scale(1.1);
    cursor: pointer;
} 

.cheatsAndNews section article button a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.cheatsAndNews section article button a:hover{
    text-decoration: none;
    color: white;
}

/* ?Ranking */

.ranking div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ranking h2{
    text-align: center;
    padding-top: 20px;
}

.ranking figure h3{
    text-align: center;
    color: #9559c1;
}
.ranking figure p{
    text-align: center;
}

.ranking figure img{
    max-height: 150px;
    width: 150px;
    border-radius: 150px;
}

/* !FOOTER */

footer {
    height: 100px;
    max-height: 100px;
    background-color: #9559c1;
    padding-top: 10px;
}

footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;  
    margin-top: 10px; 
    transition: ease .5s;
}

footer a:hover{
    transition: ease .5s;
    color: red;
}

footer address{
    float: right;
    color: white;
    margin-right: 20px;
}

footer p{
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
}